* {
  margin: 0;
  padding: 0;
}
.favcolor button{
  margin: 5px 10px 5px 10px;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  padding: 10px;
}
.favcolor button:hover {
  cursor: pointer;
}
.red:hover {
  background-color: red;
  color: white;
}
.blue:hover {
  background-color: blue;
  color: white;
}
.black:hover {
  background-color: black;
  color: white;
}
.brown:hover {
  background-color: brown;
  color: white;
}
* {
  margin: 2px;
}

li a:hover {
  cursor: pointer;
}

.form-check input:hover, label:hover {
  cursor: pointer;
}

.navbar-brand:hover {
  cursor: pointer;
}

.card a i {
  margin: 0px 5px 0 5px;
  border: 1px solid black;
  border-radius: 30px;
  padding: 15px;
  height: 50px;
  width: 50px;
}

.icondark {
  background-color: rgba(13, 202, 240, 1);
  color: darkblue;
}

.iconlight {
  background-color: white;
  color: black;
}

.textlight {
  color: black;
}

.textdark {
  color: rgba(13, 202, 240, 1);
  font-weight: bold;
}

.borderdark {
  color: darkblue;
  border: 2px solid white;
  background-color: rgba(13, 202, 240, 1);
}

.borderlight {
  border: 2px solid black;
  color: black;
}

.mod {
  width: 100px;
}

.dropdown-toggle-split {
  width: 60px;
  border-left: 1px solid white;
}

.fnt-fmly {
  font-family: monospace;
}

.italic {
  font-style: italic;
}

.bold {
  font-style: bold;
}